/* Default sizes (extra small) Adjust the height of the carousel */
#heroCarousel {
  height: 80vh;
  width: 100vw; //was 100%
  position: relative;
}
#heroCarousel .carousel-item img {
  height: 80vh;
  width: 100vw;
  object-fit: cover; /* Ensures images cover the carousel area */
}
.hero-paragraph {
  font-size: 14px; /* Default size for very small screens */
}

/* Static caption text overlaying the images */
.carousel-caption-static {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%; /* Updated max-width for large screens */
  width: 100%;
  color: white;
  padding: 10px 20px;
  text-align: center;
}

.carousel-control-prev,
.carousel-control-next {
  width: 8%;
  position: absolute; /* Required for z-index to work */
  z-index: 20; /* Ensure the controls are on top of the background */
}

/* Background gradient overlay for the carousel */
#heroCarousel::before {
  content: "";
  position: absolute;
  z-index: 5; /* Keeps it behind the text but above the images */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
}

/* Bootstrap small screen breakpoint: 576px */
@media (min-width: 576px) {
  .hero-paragraph {
    font-size: 16px;
  }
}

/* Bootstrap medium screen breakpoint: 768px */
@media (min-width: 768px) {
  .hero-paragraph {
    font-size: 18px;
  }
  /* Responsive adjustments for medium and above screens */
  #heroCarousel {
    height: 60vh; /* Adjust height for medium screens */
    width: 100vw;
  }
  #heroCarousel .carousel-item img {
    height: 60vh; /* Adjust image height for medium screens */
    width: 100vw;
  }
  .carousel-caption-static {
    max-width: 80%; /* Increase max-width for medium screens */
    padding: 10px 20px;
  }
}

/* Bootstrap large screen breakpoint: 992px */
@media (min-width: 992px) {
  .hero-paragraph {
    font-size: 20px;
  }
  /* Responsive adjustments for large and above screens */
  #heroCarousel {
    height: 50vh;
    width: 100vw;
  }
  #heroCarousel .carousel-item img {
    height: 50vh;
    width: 100vw;
  }
  .carousel-caption-static {
    max-width: 90%; /* Increase max-width screens */
    padding: 10px 20px;
  }
}

/* Bootstrap extra large screen breakpoint: 1200px */
@media (min-width: 1200px) {
  .hero-paragraph {
    font-size: 22px;
  }
}

/* Extra large screens above 1400px */
@media (min-width: 1400px) {
  .hero-paragraph {
    font-size: 24px;
  }
}

/* Responsive adjustments for small screens */
@media (max-width: 576px) {
  .carousel-caption-static a {
    font-size: 0.85rem;
    padding: 8px 16px;
  }
  .carousel-caption-static {
    max-width: 90%; /* Increase max-width for small screens */
  }
}
