/* Your styles go here */
@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-icons/font/bootstrap-icons.css";

.cinzeldecor {
  font-family: "Cinzel Decorative", serif;
  // color: white;
}

//header navmenu company title
@media (max-width: 576px) {
  .responsive-header {
    font-size: 3vw;
  }
}
@media (max-width: 320px) {
  .responsive-header {
    display: none; /* Hide original text */
  }
}

/* Ensures the carousel covers the full height of the viewport */
#heroCarousel {
  /* was 100vh */
  height: 75vh;
}

#heroCarousel .carousel-item img {
  /* was 100vh */
  height: 75vh;
  object-fit: cover; /* Ensures images cover the carousel area */
}

/* Static caption text overlaying the images */
#heroCarousel .carousel-caption-static {
  position: absolute;
  z-index: 15;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute; /* Required for z-index to work */
  z-index: 20; /* Ensure the controls are on top of the background */
}

/* Add a background gradient overlay on top of the images */
#heroCarousel::before {
  content: "";
  position: absolute;
  z-index: 5; /* Keeps it behind the text but above the images */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3));
  /* rgba(0, 0, 0, 0.6); Semi-transparent overlay */
}

// SCSS Mixin to apply gradient and background image
// @mixin gradient-overlay {
//   background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), var(--image-url);
//   background-size: cover;
//   background-position: center;
//   background-repeat: no-repeat;
// }

// Use the mixin in a class
// .image-with-gradient {
//   --image-url: ""; // Set default value
//   @include gradient-overlay;
//   height: 200px; // Adjust height as needed
//   position: relative;
// }

.img-gradient {
  /* top down gradient */
  // background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), var(--image-url);
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), var(--image-url);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 3 / 2;
  position: relative;
}
.force-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.lt-gray {
  background-color: #f0f0f0;
}

.bg-blur {
  backdrop-filter: blur(4px) saturate(80%);
}

.decor-heading {
  content: url("/fancy_underline.png");
  width: 300px;
}

/* Default image size (for large screens) */
footer img {
  width: 100px; /* Default size */
  height: 100px;
}

/* For screens smaller than large (992 is large) */
@media (max-width: 991px) {
  footer img {
    width: 60px;
    height: 60px;
  }
}
